# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Bazel generate directories
bazel-bin
bazel-genfiles
bazel-out
bazel-summariser
bazel-testlogs
data/
.DS_Store
